.nav {
  display: flex;
  color: #fff;
  font-size: 12px;
}
.nav__active {
  color: #000;
}
.nav__initials {
  opacity: 0;
  width: 0;
}
.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav__li {
  margin: 0 20px 5px 0;
  padding-bottom: 5px;
  font-weight: 600;
  cursor: pointer;
}
.nav__li::after {
  display: block;
  content: "";
  border-bottom: solid 1px #fff;
  margin-top: 5px;
  transform: scaleX(0);
  opacity: 0;
  transition: opacity transform 0.2s ease-in-out;
  transition: 0.25s ease-in-out;
}
.nav__li:nth-last-child(-n + 1) {
  margin: 0;
}
.nav__li:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
.nav__li:after {
  transform-origin: 0% 50%;
}
@media (min-width: 1024px) {
  .nav {
    font-size: 16px;
  }
}
