.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__wrapper {
  width: 70vw;
  margin-left: 5vw;
}
.button__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
